.container {
    background-color: rgba(128, 128, 128, 0.25);

    display: grid;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 60px;
    padding: 50px;
    margin-right: 80px;
    grid-template-areas:
        "failure failure"
        "usrs chats"
        "sends sends";
    grid-template-rows: 65px 1fr 60Px;
    grid-template-columns: 1fr 10fr;
}

.alert{
    grid-area: failure;
}

.list{
    grid-area: usrs;
}

.inputSend{
    background-color: chocolate;
}