.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 20px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}


.js {width: 65%; background-color: #4CAF50;} /* Red */
.html {width: 35%; background-color: #f44336;} /* Green */
.css {width: 44%; background-color: #2196F3;} /* Blue */
.php {width: 26%; background-color: #808080;} /* Dark Grey */