.Header {
  text-decoration: none;
  /*  background-color: rgb(144, 238, 170);*/
  grid-area: hd;
  display: grid;
  grid-template-areas:
    "hlogo  hinfo hinfo"
    "hlogo hmenu .";
  grid-template-columns: 1fr 10fr 2fr;
}
.inform{
  grid-area: hinfo;
}
.info{
  margin-left: 20px;
  float: right;
  display: block;
}

.menu {
  grid-area: hmenu;
}



.logo {
  width: 200px;
  height: 50px;
  margin: 20px 30px 0 30px;
  grid-area: hlogo;



}
@media only screen and (max-width: 1900px) {
  .Header {
    background-color: #fffd94;
  }
}
@media only screen and (max-width: 1200px) {
  .Header {
    background-color: blue;
  }
}