.NavBar {
    /* background-color: lightblue;*/
    grid-area: sd;
    padding-top: 45px;

}

.item {
    text-align: center;
    /*padding: 5px*/
}
.item a{
     padding: 10px;
display: block;
     color: #000;
 }

.item a.active {
    color: tomato;
    background-color: rgba(0, 139, 139, 0.372);
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

.item a:hover {
    padding: 10px;
    background-color: darkcyan;
    border-radius: 15px;
}