.NavBar {
    /* background-color: lightblue;*/
    grid-area: sd;
    padding-top: 45px;
}

.item {
    text-align: center;
    /*padding: 5px*/
}
.item a{
     padding: 10px;
display: block;
     color: #000;
 }

.item a.active {
    color: tomato;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    background: linear-gradient(#4768b5, #35488e);
}

.item a:hover {
    padding: 10px;
    background-color: darkcyan;
    border-radius: 15px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0 0 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}