
.Header {
    text-decoration: none;
    background-color: rgb(144, 238, 170);
   grid-area: hd;
   display: grid;
   grid-template-areas: 
    "hlogo hmenu husrs";
    grid-template-rows:  55px 1fr;
    grid-template-columns: 1fr 10fr 1fr ;
  }
  
  .menu {
    padding: 10px;
    grid-area: hmenu;
    text-align: center;
    
  }
  .user {
    padding: 5px;
    grid-area: husrs;
    height: 20px;
    width: 20px; 
  }
  
  .logo {
    width: 120px;
    height: 45px;
    margin: 0 20px 0 20px;
    grid-area: hlogo;
  }
  