.App-grid {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-areas: 
  "hd hd"
  "sd main"
  ". main"
  "ft ft";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px*/

}

a{
  text-decoration: none;
  cursor: pointer;
}


