.App_grid {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-areas:
  "hd"
  "main"
  "ft";
  grid-template-rows: 85px 10fr 30px;
}
.App_Container{
  display: block;
  grid-area: main;
}

a{
  text-decoration: none;
  cursor: pointer;
}
