.item {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: right;
  overflow: hidden;

  margin-left: 5px;
  text-align: center;
}
.item a {
  background-color: #2f5d31;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.item a.active {
  background-color: #419181;
  color: #000;
}

.item a:hover {
  background-color: #ddd;
  color: black;
}
